
#root {
  padding: 20px;
  
}

ul {
  list-style:none;
  padding-left:0px;
  }

.Container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid #EAEAEA;
  height: calc(100vh - 40px);
  border-radius: 10px 10px 0 10px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1200px;
}
.Menu, .SubMenu, .Main {
  flex-grow: 1;
  flex-basis: 0;
}
.Menu {
  font-size: 14px;
  font-weight: 800;
  border-right: 1px solid #EAEAEA;
  border-radius: 10px 0 0 10px;
  background-color: #ffffff;
  max-width: 150px;
  min-width: 150px;
  list-style:none;
}
.Menu ul {
  padding-top: 20px;
}
.Menu li {
 padding: 20px;
}

.Menu a {
  /* height:20px; */
  display: inline-block;
  text-decoration: none;
  color: #a6a6a6;
}


.Menu .menu_icon {
  display: inline-block;
  text-align: center;
  width: 20px;
  padding-right: 10px;
}
.Menu .menu_title {
  display: inline-block;
  line-height: 20px;
}

.SubMenu {
  border-right: 1px solid #EAEAEA;
  max-width: 200px;
  list-style:none;
}
.SubMenu .title {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 40px 20px 25px;
}
.SubMenu .subtitle,
.SubMenu .nav_li {
  padding: 10px 20px;
}
.SubMenu .subtitle,
.SubMenu .nav_li a {
  font-size: 14px;
  font-weight: 800;
  width: 100%;
  text-decoration: none;
  color: #a6a6a6;
}
.SubMenu .nav_li a {
  color: #000000;
}
.SubMenu .nav_li a.current #text {
  background-color: #000;
}
.SubMenu .nav_li a.current:before {
  content: "";
  display: block;
  margin: -10px -20px -27px;
  padding: 10px 0 27px;
  background: #D5E9F7;
  width: 200px;
}

.Main {
  border-radius: 0 10px 10px 0;
}

.Header {
  display: flex;
  border-radius: 0 10px 0 0;
  background-color: #ffffff;
  height: 90px;
}
.Header.bottom {
  border-bottom: 1px solid #EAEAEA;
}
.Header .title {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 40px 20px 25px;
}
.Header .option {
  color: #a6a6a6;
  font-size: 20px;
  font-weight: 800;
  margin-left: auto;
  padding: 40px 20px 25px;
}

.SubHeader {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom: 1px solid #EAEAEA;
  height: 90px;
}
.SubHeader .visit_ul {
  display: inline-flex;
  width: 100%;
}
.SubHeader .visit_li {
  padding-left: 20px;
  width: 120px;
}
.SubHeader .visit_li:last-child {
  margin-left: auto;
  text-align: right;
  padding-right: 20px;
}
.SubHeader .visit_li .date {
  color: #a6a6a6;
}
.SubHeader .visit_li .time {
  font-size: 24px;
  font-weight: 800;
}

.SubHeader .visit_li .date.dumy,
.SubHeader .visit_li .time.dumy {
  color: #efefef;
}
.SubHeader .stat_title {
  font-size: 12px;
  color: #a6a6a6;
}
.SubHeader .stat_text {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}
.SubHeader .nav_ul {
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  bottom: 0px;
}
.SubHeader .nav_li {
  display: inline-flex;
  text-align: center;
  padding-left: 20px;
  height: 30px;
  width: 100px;
}
.SubHeader .nav_li a {
  font-size: 14px;
  font-weight: 800;
  width: 100%;
  text-decoration: none;
  color: #a6a6a6;
}

.SubHeader .nav_li a.current:after {
  content: "";
  display: block;
  margin-top: 8px;
  height: 5px;
  background: #2B90D9;
  width: 100%;
}
.MainPage {
  height: calc(100vh - 223px);
  overflow: auto;
  overflow-y:scroll;
  
}
.MainPage.initial {
  overflow: initial;
  overflow-y: initial;
  height: 100%;
}
.MainPage.initial hr {
  border: none;
  border-bottom: 1px solid #fafafa;
}
.MainPage.sub {
  height: calc(100vh - 133px);
}
.MainPage.flex_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: initial;
  overflow-y: initial;
}

.layout_1 {
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin: 10px;
  padding: 20px;
}

.layout_2 .title,
.layout_1 .title {
  font-size: 14px;
  font-weight: 800;
  padding-bottom: 15px;
}
.layout_1 .sub_title {
  font-size: 12px;
  padding-bottom: 15px;
}
.layout_1 .customer_info {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.layout_1 .customer_info .profile_img {
  display: inline-flex;
}
.layout_1 .customer_info .profile_info {
  flex-direction: column;
  margin-left: 10px;
}
.layout_1 .customer_info .name{
  color: #000;
  margin-top: 2px;
  font-size: 18px;
  font-weight: 800;
}
.layout_1 .customer_info .phone_number{
  font-size: 14px;
  color: #a6a6a6;
}
.layout_1 table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.layout_1 td,
.layout_1 th {
  /* font-size: 14px; */
  font-weight: initial;
  border:  none;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  padding: 15px
}
.layout_1 th {
  font-size: 12px;
  color: #a6a6a6;
}
.layout_1 td {
  font-size: 14px;
}

.layout_header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-bottom: 15px;
}
.layout_header.bottom {
  padding-bottom: 0;
}
.layout_header .visit_ul {
  display: inline-flex;
  width: 100%;
}
.layout_header .visit_li {
  width: 120px;
}
.layout_header .stat_title {
  font-size: 12px;
  color: #a6a6a6;
}
.layout_header .stat_text {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.layout_2 {
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin: 10px;
  padding: 20px;
  /* height: 250px; */
  width: 400px;
}
.layout_2.top {
  margin-top: 0;
}
.layout_2.left {
  margin-left: -2px;
}
.layout_2 .flex_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.layout_2 .flex_box {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
.layout_2 .flex_item {
  width: 50%;
}
.layout_2 .flex_item.new {
  border-left: 10px solid #2B90D9;
  padding-left: 10px;
}
.layout_2 .flex_item.re {
  border-left: 10px solid #D5E9F7;
  padding-left: 10px;
}
.layout_2 .flex_item.out {
  border-left: 10px solid #eaeaea;
  padding-left: 10px;
}
.layout_2 .flex_item .stat_title {
  font-size: 12px;
  color: #a6a6a6;
}
.layout_2 .flex_item .stat_text {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.List{
  background-color: #ffffff;
  height: 100%;
  width: 350px;
  overflow: auto;
  overflow-y:scroll;
}
.List.card{
  background-color: #fafafa;
  height: 100%;
  width: 400px;
  overflow: auto;
  overflow-y:scroll;
}
.List .user_list a {
  text-decoration: none;
  align-items: center;
  display: flex;
  padding: 10px 20px;
}
.List .user_list .current {
  background-color:#eaeaea;
}
.List .user_list .profile_img {
  display: inline-flex;
}
.List .user_list .profile_info {
  flex-direction: column;
  margin-left: 10px;
}
.List .user_list .name{
  color: #000;
  margin-top: 2px;
  font-size: 18px;
  font-weight: 800;
}
.List .user_list .phone_number{
  font-size: 14px;
  color: #a6a6a6;
}
.List .marketing_list a {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #000000;
  box-sizing: border-box;
  text-decoration: none;
  flex-direction: column;
  display: flex;
  margin: 10px;
  padding: 20px;
}
.List .marketing_list a.current {
  background-color: #eaeaea;
}

.List .marketing_list .marketing_header {
  padding-bottom: 15px;
}
.List .marketing_list .marketing_header .stat_title {
  font-size: 14px;
  color: #a6a6a6;
}
.List .marketing_list .marketing_header .stat_text {
  font-size: 18px;
  font-weight: 800;
}

.List .marketing_list .marketing_info .stat {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}
.List .marketing_list .marketing_info .stat_title {
  width: 100px;
  font-size: 14px;
  color: #a6a6a6;
}
.List .marketing_list .marketing_info .stat_text {
  width: 100px;
  font-weight: 800;
}
.Detail {
  display: flex;
  width: calc(100% - 350px);
  flex-direction: column;
  overflow: auto;
  overflow-y:scroll;
}

