
#root {
  padding: 20px;
  
}

ul {
  list-style:none;
  padding-left:0px;
  }

.Container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid #EAEAEA;
  height: calc(100vh - 40px);
  border-radius: 10px 10px 0 10px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1200px;
}
.Menu, .SubMenu, .Main {
  flex-grow: 1;
  flex-basis: 0;
}
.Menu {
  font-size: 14px;
  font-weight: 800;
  border-right: 1px solid #EAEAEA;
  border-radius: 10px 0 0 10px;
  background-color: #ffffff;
  max-width: 150px;
  list-style:none;
}
.Menu ul {
  padding-top: 20px;
}
.Menu li {
 padding: 20px;
}

.Menu a {
  /* height:20px; */
  display: inline-block;
  text-decoration: none;
  color: #a6a6a6;
}


.Menu .menu_icon {
  display: inline-block;
  text-align: center;
  width: 20px;
  padding-right: 10px;
}
.Menu .menu_title {
  display: inline-block;
  line-height: 20px;
}

.SubMenu {
  border-right: 1px solid #EAEAEA;
  max-width: 200px;
  list-style:none;
}
.SubMenu .title {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 40px 20px 25px;
}
.SubMenu .subtitle,
.SubMenu .nav_li {
  padding: 10px 20px;
}
.SubMenu .subtitle,
.SubMenu .nav_li a {
  font-size: 14px;
  font-weight: 800;
  width: 100%;
  text-decoration: none;
  color: #a6a6a6;
}
.SubMenu .nav_li a {
  color: #000000;
}

.Main {
  border-radius: 0 10px 10px 0;
}

.Header {
  display: flex;
  border-radius: 0 10px 0 0;
  background-color: #ffffff;
  height: 90px;
}
.Header.bottom {
  border-bottom: 1px solid #EAEAEA;
}
.Header .title {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding: 40px 20px 25px;
}
.Header .option {
  color: #a6a6a6;
  font-size: 24px;
  font-weight: 800;
  margin-left: auto;
  padding: 40px 20px 25px;
}

.SubHeader {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom: 1px solid #EAEAEA;
  height: 90px;
}
.SubHeader .visit_ul {
  display: inline-flex;
  width: 100%;
}
.SubHeader .visit_li {
  padding-left: 20px;
  width: 120px;
}
.SubHeader .visit_li:last-child {
  margin-left: auto;
  text-align: right;
  padding-right: 20px;
}
.SubHeader .visit_li .date {
  color: #a6a6a6;
}
.SubHeader .visit_li .time {
  font-size: 24px;
  font-weight: 800;
}

.SubHeader .visit_li .date.dumy,
.SubHeader .visit_li .time.dumy {
  color: #efefef;
}
.SubHeader .stat_title {
  font-size: 12px;
  color: #a6a6a6;
}
.SubHeader .stat_text {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}
.SubHeader .nav_ul {
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  bottom: 0px;
}
.SubHeader .nav_li {
  display: inline-flex;
  text-align: center;
  padding-left: 20px;
  height: 30px;
  width: 100px;
}
.SubHeader .nav_li a {
  font-size: 14px;
  font-weight: 800;
  width: 100%;
  text-decoration: none;
  color: #a6a6a6;
}

.SubHeader .nav_li a.current:after {
  content: "";
  display: block;
  margin-top: 8px;
  height: 5px;
  background: #2B90D9;
  width: 100%;
}
.MainPage {
  /* background-color: #2B90D9; */
  height: calc(100vh - 223px);
  overflow: auto;
  overflow-y:scroll;
}

.layout_1 {
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin: 10px;
  padding: 20px;
}
.layout_1 .title {
  font-size: 14px;
  font-weight: 800;
  padding-bottom: 15px;
}
.layout_1 table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.layout_1 td,
.layout_1 th {
  /* font-size: 14px; */
  font-weight: initial;
  border:  none;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  padding: 15px
}
.layout_1 th {
  font-size: 12px;
  color: #a6a6a6;
}
.layout_1 td {
  font-size: 14px;
}